extends ../layout/template.pug

block append vars 
	-var title = "Bonza";

block content
	section.promo
		.wrap
			.promo-info
				.promo-title
					span Выкуп и продажа авто
					| в Уфе и респ. Башкортостан
				.promo-action
					button.btn-orange Продать авто
					button.btn-border Купить авто

