extends ../layout/template.pug

block append vars 
	-var title = "Bonza";

block content
	section.promo
		.wrap
			.promo-info
				.promo-title
					span Выкуп и продажа авто
					| в Уфе и респ. Башкортостан
				.promo-action
					button.btn-orange Продать авто
					button.btn-border Купить авто

	section.about
		.wrap
			svg.about-decor
				use(xlink:href="img/sprite.svg#bonza-icon")
			.about-headline
				h2.h2 Бонза — автосалон №1 в Уфе
				p Основной ценностью для нас является комфорт клиентов, для которых мы стараемся подобрать максимально лояльные условия как при выкупе авто, так и при продаже. Наша миссия в продаже хороших, проверенных автомобилей по адекватным ценам
			.about-list
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#tire")
					p.about-text Опыт работы более 15 лет
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#sale")
					p.about-text Знание рынка и ценообразования
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#centr-goroda")
					p.about-text В самом центре города (близко к выезду из города)
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#check")
					p.about-text Готовность решать нестандартные случаи
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#money")
					p.about-text Выкуп авто в день обращения и оплата наличными сразу на руки
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#parking")
					p.about-text Закрытая подземная парковка для дорогих авто на реализации

	section.services
		.wrap
			h2.h2 Услуги
			.services-list
				.services-item-lg(style="background-image: url('../img/services-car-1.png'); background-color: #f79307;")
					.services-headline
						h3.h3 Срочный выкуп
						p (авто среднего и премиум класса)
					a.services-order(href="#") Заказать услугу
				.services-item-lg(style="background-image: url('../img/services-car-2.png');")
					.services-headline
						h3.h3 Продажа  автомобилей 
						p (премиум класса)
					a.services-order(href="#") Заказать услугу

				.services-item
					h3.h3 Trade-in 
						span (обмен авто)
					svg.services-icon
						use(xlink:href="img/sprite.svg#exchange")
					a.services-order(href="#") Заказать услугу
				.services-item
					h3.h3 Прием авто на реализацию 
					svg.services-icon
						use(xlink:href="img/sprite.svg#garage")
					a.services-order(href="#") Заказать услугу
				.services-item
					h3.h3 Автоподбор
					svg.services-icon
						use(xlink:href="img/sprite.svg#selection-car")
					a.services-order(href="#") Заказать услугу
				.services-item
					h3.h3 Автокредитование 
					svg.services-icon
						use(xlink:href="img/sprite.svg#ruble")
					a.services-order(href="#") Заказать услугу

	section.sell
		.wrap
			.sell-headline
				h2.h2-white Как продать авто?
				svg.sell-icon
					use(xlink:href="img/sprite.svg#bonza-icon")
			.sell-list
				.sell-item
					.sell-number 1
					p.sell-text
						| Оставьте заявку на сайте
						br
						| или позвоните по телефону

				.sell-item
					.sell-number 2
					p.sell-text
						| Обсудите детали 
						br
						| с менеджером

				.sell-item
					.sell-number 3
					p.sell-text
						| Подъезжайте на осмотр 
						br
						| и заключение договора 
						br 
						| (25 минут)









