extends ../layout/template.pug

block append vars 
	-var title = "Bonza";

block content
	section#promo.promo
		.wrap
			.promo-info
				.promo-title
					span Выкуп и продажа авто
					| в Уфе и респ. Башкортостан
				.promo-action
					button.btn-orange(data-fancybox, data-src="#popup-sale") Продать авто
					button.btn-border(data-fancybox, data-src="#popup-buy") Купить авто

	section#about.about
		.wrap
			svg.about-decor
				use(xlink:href="img/sprite.svg#bonza-icon")
			.about-headline
				h2.h2 Бонза — автосалон №1 в Уфе
				p Основной ценностью для нас является комфорт клиентов, для которых мы стараемся подобрать максимально лояльные условия как при выкупе авто, так и при продаже. Наша миссия в продаже хороших, проверенных автомобилей по адекватным ценам
			.about-list
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#tire")
					p.about-text Опыт работы более 15 лет
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#sale")
					p.about-text Знание рынка и ценообразования
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#centr-goroda")
					p.about-text В самом центре города (близко к выезду из города)
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#check")
					p.about-text Готовность решать нестандартные случаи
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#money")
					p.about-text Выкуп авто в день обращения и оплата наличными сразу на руки
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#parking")
					p.about-text Закрытая подземная парковка для дорогих авто на реализации

	section#services.services
		.wrap
			h2.h2 Услуги
			.services-list
				.services-item-lg(style="background-image: url('../img/services-car-1.png'); background-color: #f79307;")
					.services-headline
						h3.h3 Срочный выкуп
						p (авто среднего и премиум класса)
					a.services-order(href="#") Заказать услугу
				.services-item-lg(style="background-image: url('../img/services-car-2.png');")
					.services-headline
						h3.h3 Продажа  автомобилей 
						p (премиум класса)
					a.services-order(href="#") Заказать услугу

				.services-item
					h3.h3 Trade-in 
						span (обмен авто)
					svg.services-icon
						use(xlink:href="img/sprite.svg#exchange")
					a.services-order(href="#") Заказать услугу
				.services-item
					h3.h3 Прием авто на реализацию 
					svg.services-icon
						use(xlink:href="img/sprite.svg#garage")
					a.services-order(href="#") Заказать услугу
				.services-item
					h3.h3 Автоподбор
					svg.services-icon
						use(xlink:href="img/sprite.svg#selection-car")
					a.services-order(href="#") Заказать услугу
				.services-item
					h3.h3 Автокредитование 
					svg.services-icon
						use(xlink:href="img/sprite.svg#ruble")
					a.services-order(href="#") Заказать услугу

	section#sell.sell
		.wrap
			.sell-headline
				h2.h2-white Как продать авто?
				svg.sell-icon
					use(xlink:href="img/sprite.svg#bonza-icon")
			.sell-list
				.sell-item
					.sell-number 1
					p.sell-text
						| Оставьте заявку на сайте
						br
						| или позвоните по телефону
				.sell-item
					.sell-number 2
					p.sell-text
						| Обсудите детали 
						br
						| с менеджером
				.sell-item
					.sell-number 3
					p.sell-text
						| Подъезжайте на осмотр 
						br
						| и заключение договора 
						br 
						| (25 минут)

	section#purchase.purchase 
		.wrap
			h2.h2 Какое авто мы покупаем?
			.purchase-list
				.purchase-item
					.purchase-banner
						img(src="img/new-car.jpg", alt="Новое авто")
					h3.h3 Новое авто
				.purchase-item
					.purchase-banner
						img(src="img/with-mileage.jpg", alt="С пробегом")
					h3.h3 С пробегом
				.purchase-item
					.purchase-banner
						img(src="img/in-credit.jpg", alt="В кредите")
					h3.h3 В кредите
				.purchase-item
					.purchase-banner
						img(src="img/in-leasing.jpg", alt="В лизинге")
					h3.h3 В лизинге
				.purchase-item
					.purchase-banner
						img(src="img/ban-on-reg.jpg", alt="С запретом на рег. действия")
					h3.h3 С запретом на рег. действия
	
	section#buyout.buyout
		.wrap
			.buyout-inner
				svg.buyout-decor
					use(xlink:href="img/sprite.svg#bonza-icon")
				h2.h2-white Рассчитать стоимость вашего авто
				form.buyout-form
					select.js-select.buyout-select(name="brand")
						option Марка:
						option Alfa Romeo
						option Aston Martin
						option Audi
						option Bentley
						option BMW
						option Bugatti
						option Buick

					input.input(type="text", name="name", placeholder="Ваше имя")
					
					select.js-select.buyout-select(name="models")
						option Модель:
						option I3
						option I8
						option M3
						option M8
						option X5
						option X6

					input.input(type="text", name="phone", placeholder="Телефон")
					
					select.js-select.buyout-select(name="models")
						option Год:
						option 2010
						option 2011
						option 2012
						option 2013
						option 2014
						option 2015
						option 2016
						option 2017
						option 2018
						option 2019

					button.btn-orange Узнать стоимость
	
	section#redeemed.redeemed
		.wrap
			h2.h2 Выкупленные автомобили
			.redeemed-slider
				.swiper-wrapper
					.swiper-slide
						.redeemed-card
							.redeemed-card-banner
								img(src="img/car-1.jpg", alt="Nissan Note Hatchback")
							.redeemed-card-info
								h4.h4 Nissan Note Hatchback 
								p Повседневная практика показывает, что дальнейшее развитие различных форм деятельности требуют от нас 
								.redeemed-card-price 230 000 руб.
					.swiper-slide
						.redeemed-card
							.redeemed-card-banner
								img(src="img/car-2.jpg", alt="Chevrolet Aveo 2007")
							.redeemed-card-info
								h4.h4 Chevrolet Aveo 2007 
								p Повседневная практика показывает, что дальнейшее развитие различных форм деятельности требуют от нас 
								.redeemed-card-price 530 000 руб.
					.swiper-slide
						.redeemed-card
							.redeemed-card-banner
								img(src="img/car-3.jpg", alt="Volkswagen Passat")
							.redeemed-card-info
								h4.h4 Volkswagen Passat
								p Повседневная практика показывает, что дальнейшее развитие различных форм деятельности требуют от нас 
								.redeemed-card-price 1 230 000 руб.
					.swiper-slide
						.redeemed-card
							.redeemed-card-banner
								img(src="img/car-1.jpg", alt="Nissan Note Hatchback")
							.redeemed-card-info
								h4.h4 Nissan Note Hatchback 
								p Повседневная практика показывает, что дальнейшее развитие различных форм деятельности требуют от нас 
								.redeemed-card-price 230 000 руб.
				.redeemed-button-prev
					svg
						use(xlink:href="img/sprite.svg#arrow")
				.redeemed-button-next
					svg
						use(xlink:href="img/sprite.svg#arrow")

	section#credit.credit
		.wrap
			.credit-inner
				.credit-info
					h2.h2 Автокредит
					p В нашем автосалоне можно воспользоваться кредитными предложениями.  
						span Мы работаем с ведущими банками в области автокредитования. Вы можете выбрать лучшие условия по приобретению автомобилей.
					a.btn-orange(href="#") Узнать подробнее
				.credit-brands
					img(src="img/brands.jpg", alt="Partners")

	section#plus.plus
		.wrap
			.plus-inner
				.plus-info
					h2.h2-white Особенности нашего сервиса
					ul.plus-list
						li.plus-item
							.plus-icon
							span Цены ниже, чем у конкурентов
						li.plus-item
							.plus-icon
							span Юридическую чистоту и честную информацию об автомобилях — гарантируем
						li.plus-item
							.plus-icon
							span Быстрая продажа. Процесс продажи авто занимает 1,5 -2 часа
						li.plus-item
							.plus-icon
							span Деньги сразу. Полную стоимость авто вы получите сразу после оформления сделки
						li.plus-item
							.plus-icon
							span Работаем над своим сервисом 24 на 7
				.plus-action
					.plus-logo
						img(src="img/avito.png", alt="Avito")
					a.btn-orange(href="#", target="_blank") Перейти в каталог Авито

	section#faq.faq
		.wrap
			h2.h2 Вопросы и ответы
			.accordion
				.accordion-item
					.accordion-head.js-accordion-head
						.accordion-title Как выгодно продать авто?
						svg.accordion-icon.js-accordion-icon
							use(xlink:href="img/sprite.svg#arrow")
					.accordion-body.js-accordion-body
						p Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки модели развития. Товарищи! рамки и место обучения кадров способствует подготовки и реализации новых предложений. Повседневная практика показывает, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. 
						p Задача организации, в особенности же дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки новых предложений. Не следует, однако забывать, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
						p Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке новых предложений. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития.
				.accordion-item
					.accordion-head.js-accordion-head
						.accordion-title Не следует, однако забывать, что сложившаяся структура
						svg.accordion-icon.js-accordion-icon
							use(xlink:href="img/sprite.svg#arrow")
					.accordion-body.js-accordion-body
						p Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки модели развития. Товарищи! рамки и место обучения кадров способствует подготовки и реализации новых предложений. Повседневная практика показывает, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. 
						p Задача организации, в особенности же дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки новых предложений. Не следует, однако забывать, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
						p Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке новых предложений. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития.
				.accordion-item
					.accordion-head.js-accordion-head
						.accordion-title Форм деятельности в значительной степени обуславливает создание системы
						svg.accordion-icon.js-accordion-icon
							use(xlink:href="img/sprite.svg#arrow")
					.accordion-body.js-accordion-body
						p Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки модели развития. Товарищи! рамки и место обучения кадров способствует подготовки и реализации новых предложений. Повседневная практика показывает, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. 
						p Задача организации, в особенности же дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки новых предложений. Не следует, однако забывать, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
						p Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке новых предложений. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития.
				.accordion-item
					.accordion-head.js-accordion-head
						.accordion-title Структуры представляет собой интересный эксперимент 
						svg.accordion-icon.js-accordion-icon
							use(xlink:href="img/sprite.svg#arrow")
					.accordion-body.js-accordion-body
						p Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки модели развития. Товарищи! рамки и место обучения кадров способствует подготовки и реализации новых предложений. Повседневная практика показывает, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. 
						p Задача организации, в особенности же дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки новых предложений. Не следует, однако забывать, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
						p Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке новых предложений. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития.
				.accordion-item
					.accordion-head.js-accordion-head
						.accordion-title Как выгодно продать авто? 
						svg.accordion-icon.js-accordion-icon
							use(xlink:href="img/sprite.svg#arrow")
					.accordion-body.js-accordion-body
						p Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки модели развития. Товарищи! рамки и место обучения кадров способствует подготовки и реализации новых предложений. Повседневная практика показывает, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. 
						p Задача организации, в особенности же дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки новых предложений. Не следует, однако забывать, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
						p Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке новых предложений. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития.
	
	section#contacts.contacts
		.wrap
			.contacts-inner
				.contacts-info
					h2.h2 Контакты
					.contacts-phone
						svg.contacts-phone-icon
							use(xlink:href="img/sprite.svg#phone")
						.contacts-phone-box
							a(href="tel: +7 917 409 12 42") +7 917 409 12 42
							a(href="tel: +7 937 320 92 43") +7 937 320 92 43
					.contacts-location
						svg.contacts-location-icon
							use(xlink:href="img/sprite.svg#location")
						.contacts-location-text Верхнеторговая, 4
					.contacts-social
						a(href="#", target="_blank")
							svg.contacts-instagram
								use(xlink:href="img/sprite.svg#instagram")
						a(href="#", target="_blank")
							svg.contacts-vkontakte
								use(xlink:href="img/sprite.svg#vkontakte")

				.contacts-place
					.contacts-banner
						img(src="img/office.jpg", alt="Офис")
					.contacts-map#map



