extends ../layout/template.pug

block append vars 
	-var title = "Bonza";

block content
	button.btn-orange Buy this
	br
	button.btn-border Buy this

	br
	br

	h2.h2 Lorem ipsum dolor sit.
	h2.h2-white Lorem ipsum dolor sit.

