extends ../layout/template.pug

block append vars 
	-var title = "Bonza";

block content
	br
	br
	br
	br
	br
	br
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ipsum similique dolor ut consequatur, sint et a totam nihil maiores modi, eaque repellendus. Dolorum deserunt vel magni in ipsa fugiat!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ipsum similique dolor ut consequatur, sint et a totam nihil maiores modi, eaque repellendus. Dolorum deserunt vel magni in ipsa fugiat!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ipsum similique dolor ut consequatur, sint et a totam nihil maiores modi, eaque repellendus. Dolorum deserunt vel magni in ipsa fugiat!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ipsum similique dolor ut consequatur, sint et a totam nihil maiores modi, eaque repellendus. Dolorum deserunt vel magni in ipsa fugiat!

