extends ../layout/template.pug

block append vars 
	-var title = "Bonza";

block content
	section.promo
		.wrap
			.promo-info
				.promo-title
					span Выкуп и продажа авто
					| в Уфе и респ. Башкортостан
				.promo-action
					button.btn-orange Продать авто
					button.btn-border Купить авто

	section.about
		.wrap
			.about-headline
				h2.h2 Бонза — автосалон №1 в Уфе
				p Основной ценностью для нас является комфорт клиентов, для которых мы стараемся подобрать максимально лояльные условия как при выкупе авто, так и при продаже. Наша миссия в продаже хороших, проверенных автомобилей по адекватным ценам
			.about-list
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#tire")
					p.about-text Опыт работы более 15 лет
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#sale")
					p.about-text Знание рынка и ценообразования
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#centr-goroda")
					p.about-text В самом центре города (близко к выезду из города)
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#check")
					p.about-text Готовность решать нестандартные случаи
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#money")
					p.about-text Выкуп авто в день обращения и оплата наличными сразу на руки
				.about-item
					svg.about-icon
						use(xlink:href="img/sprite.svg#parking")
					p.about-text Закрытая подземная парковка для дорогих авто на реализации






