footer.footer
	.wrap
		.footer-inner
			.footer-logo
				img(src="img/logo-white.svg", alt="Bonza logo")
			.footer-location
				svg.footer-location-icon
					use(xlink:href="img/sprite.svg#location")
				span.footer-location-text Верхнеторговая, 4
			.footer-phone.icon
				svg.footer-phone-icon
					use(xlink:href="img/sprite.svg#phone")
				a.footer-phone-text(href="tel: +7 917 409 12 42") +7 917 409 12 42
			.footer-phone
				a.footer-phone-text(href="tel: +7 937 320 92 43") +7 937 320 92 43
			.footer-author
				p.footer-author-text Разработано в
				a.footer-author-link(href="http://pandaworks.ru", target="_blank")
					img(src="img/pandaworks.png", alt="Пандаворкс")
