webfont("OpenSans", "OpenSans/OpenSans-Regular")
webfont("OpenSans", "OpenSans/OpenSans-SemiBold", 600)

webfont("Muller", "Muller/MullerRegular", 400)
webfont("Muller", "Muller/MullerMedium", 500)
webfont("Muller", "Muller/MullerBold", 700)

webfont("Montserrat", "Montserrat/Montserrat-Regular", 400)
webfont("Montserrat", "Montserrat/Montserrat-Medium", 500)
webfont("Montserrat", "Montserrat/Montserrat-SemiBold", 600)