/*
Author: Arkhipov Vladislav
Author E-mail: arkhipovvladislav@mail.ru
Name project: Bonza
*/

@import "rupture"
@import "./mixins/mixin.styl"
@import "./fonts.styl"


/*
 * ========================
 * VARS
 * ========================
 */

// fonts
font-base 	= "Montserrat", sans-serif
font-second = "Muller", sans-serif
font-third 	= "OpenSans", sans-serif

// color 
white      = #ffffff
orange 		 = #F79000
grey 			 = #292929
grey-light = #343434


/*
 * ========================
 * BASE 
 * ========================
 */
 
// Adaptive
flex-version = flex
support-for-ie = false
vendor-prefixes = official

rupture.scale =       	0    576px    768px    992px    1200px
rupture.scale-names =  "xs"     "sm"     "md"     "lg"      "xl"

*
	padding 0
	margin 0
	box-sizing border-box
	&::after
		padding 0
		margin 0
		box-sizing: border-box
	&::before
		padding 0
		margin 0
		box-sizing: border-box

html
	font-size 16px

body
	font-weight 400
	line-height 1.5
	font-family font-base
	color grey
	size 100%
	overflow-x hidden

p 
	line-height 26px
	
	+below(lg)
		line-height 1.3em
		
a 
	color inherit
	text-decoration none
	
img 
	max-width 100%
	height auto
		
		
/* container */
.wrap
	width 100%
	max-width 1200px
	min-width 320px
	height 100%
	margin 0 auto
	padding: 0 15px
	
/* Buttons*/
.btn
	display inline-flex
	justify-content center
	align-items center
	width 100%
	max-width 270px
	height 48px
	font 500 16px/1 font-second 
	background-color transparent
	border none
	border-radius 50px
	transition()
	
	&:hover
		opacity .8
		cursor pointer
	
.btn-orange
	@extend .btn
	color white
	background-color orange
	
.btn-border
	@extend .btn
	color #474747
	border 2px solid orange
	

/* Typography */
.h2 
	font 600 36px/44px font-base
	color grey-light
	
	+below(lg)
		font-size 28px
		line-height 36px
	
	+below(sm)
		font-size 24px
		line-height 29px
	
.h2-white
	@extend .h2
	color white
	

.h3
	font 500 24px/29px font-second
	color #202020
	
	+below(lg)
		font-size 20px
		line-height 24px
		
.h4
	font 500 20px/24px font-base
	color #2d2d2d

/* Form elements*/
.input
	display inline-block
	width 100%
	max-width 235px
	height 48px
	padding 0 29px
	font 400 16px/48px font-third
	color white 
	background-color transparent
	border 2px solid #707070
	border-radius 50px
	outline none
	+placeholder()
		color white
		
/*
 * ========================
 * PROMO
 * ========================
 */
.promo 
	padding-top 212px
	padding-bottom 267px
	background resolve("promo-bg.jpg") no-repeat center / cover
	
	&-title
		margin-bottom 50px
		font 400 40px/54px font-second
		color white
		
		span 
			display block
			font-weight 700
			font-size 54px
			
	.btn-border
		display flex
		margin-top 18px
		color white
		border-color white
	
	+below(lg)
		padding-top 150px
		padding-bottom 170px
		
		&-info
			padding-left 40px
		
		&-title
			font-size 30px
			line-height 40px
			
			span 
				font-size 40px
				
	+below(md)
		padding-top 100px
		padding-bottom 110px
		
		&-title
			font-size 26px
			line-height 34px
			
			span 
				font-size 34px
				
	+below(sm)
		&-info
			padding-left 0
			
		&-title
			margin-bottom 30px
			font-size 22px
			line-height 30px
			
			span
				font-size 30px
				
	+below(480px)
		height 490px
		padding-top 40px
		padding-bottom 26px
		background-image resolve("promo-bg-mobile.jpg")
		
		&-info
			display flex 
			flex-direction column
			justify-content space-between
			height 100%
			
		&-title
			margin-bottom 0
			font-size 20px
			line-height 26px
			
			span
				font-size 26px


/*
 * ========================
 * ABOUT
 * ========================
 */
.about
	position relative
	padding-top 81px
	padding-bottom 83px
	
	&-decor
		position absolute
		top 0
		right 45px
		width 425px
		height 404px
		fill orange
		opacity .08
		transform rotate(30deg)
	
	&-headline
		margin-bottom 65px
	
		p
			margin-top 27px
			
	&-list
		display flex 
		flex-wrap wrap
		align-items flex-start
		margin 0 -15px
		
	&-item
		display flex 
		align-items flex-start
		width 33%
		margin-bottom 53px
		padding 0 15px
	
	&-icon
		flex-shrink 0
		width 70px
		height 70px
		fill orange
	
	&-text
		padding-left 30px
		font-size 18px
		
		
	+below(lg)

		&-icon
			width 55px
			height 55px
			
		&-text
			padding-left 20px
			font-size 16px
			
	+below(md)
		&-decor
			display none

		&-icon
			width 45px
			height 45px
			
		&-text
			font-size 14px
			
	+below(sm)
		&-item
			width 50%
						
	+below(480px)
		&-item
			width 100%
			margin-bottom 40px
			
		&-icon
			width 51px
			height 51px
		
		&-text
			padding-left 11px
			font-size 16px
			line-height 20px


/*
 * ========================
 * SERVICES
 * ========================
 */
.services
	margin-bottom 84px
	
	&-list
		display flex
		flex-wrap wrap 
		margin 0 -15px
		padding-top 30px
			
	&-item-lg,
	&-item	
		position relative
		margin 0 15px 40px
		background-color #f5f5f5
		overflow hidden
		transition(.45s)
		
		.h3,
		.h3 span,
		p
			transition(.45s)
	
		&:hover
			background-color #f89c1d
			
			.h3,
			.h3 span,
			p
				color white
				
			.services-icon
				opacity 0
				transform translateY(20px)
				
			.services-order
				opacity 1
				transform translateY(0)

	&-item-lg
		width calc(50% - 30px)
		height 350px
		padding-top 22px
		padding-left 20px
		background-repeat no-repeat
		background-position bottom right
		
	&-item
		display flex 
		flex-direction column
		justify-content space-between
		width calc(25% - 30px)
		min-height 170px
		padding 16px 20px 22px
		
		.h3 span
			font: 400 20px/1 font-third
			color #2b2b2b 

	&-headline p 
		font 400 18px/24px font-third
		color #202020
	
	&-icon
		width 67px
		height 67px
		fill #f89c1d
		transition(.45s)
		
	&-order
		position absolute
		left 20px
		bottom 55px
		font-weight 500
		font-size: 22px
		text-decoration underline
		color white
		opacity 0
		transition(.45s)
		transform translateY(40px)
		
		&:hover
			text-decoration none
	
	+below(lg)
		.h3 span 
			font-size 16px
		
	+below(md)
		&-headline p 
			font-size 14px
			
		.h3
			font-size 16px
			line-height 20px
			
			span 
				font-size 14px
				
		&-list
			margin 0 -6px
		
		&-item-lg,
		&-item 
			margin 0 6px 30px
			
		&-item-lg 
			width calc(50% - 12px)
			height 280px
			background-size 330px
		
		&-item 
			width calc(25% - 12px)
			
		&-order
			font-size 18px
			
	+below(sm)
		
		&-item 
			width calc(50% - 12px)
			
	+below(xs)
		
		&-item-lg
			width 100%
			height 295px
			background-size 320px 210px
			background-position-x right
			
	+below(400px)
		.h3 
			font-size 24px
			line-height 29px
			
		&-list
			margin 0 -15px
			
		&-item,
		&-item-lg
			margin 0 0 20px
			
		&-item 
			width 100%
			

/*
 * ========================
 * SELL
 * ========================
 */
.sell
	padding 38px 0
	background-color #1f1f1f
	
	&-headline
		display flex 
		align-items center
		
	&-icon
		size 40px
		margin-left 15px
		fill #f99500
	
	&-list
		display flex 
		align-items flex-start
		margin 0 -10px
		padding-top 50px
	
	&-item
		display flex
		align-items flex-start
		width 33%	
		padding 0 10px
		color white
	
	&-number
		font 900 81px/1 font-second
		color orange
		
	&-text
		padding-left 30px
		font-weight 500
		font-size 18px
		color white
		
	+below(lg)
		&-text 
			padding-left 18px
			
	+below(md)
		&-text 
			font-size 16px
		
		&-number
			font-size 60px
			
	+below(sm)
		padding-top 45px
		padding-bottom 30px
		
		&-list 
			flex-wrap wrap 
		
		&-item 
			width 50%
			margin-bottom 15px
			
	+below(xs)
		&-list 
			padding-top 30px
			
		&-item
			width 100%
			
	+below(400px)
		&-number
			font-size 40px
			
		&-text 
			font-size 14px


/*
 * ========================
 * PURCHASE
 * ========================
 */		
.purchase
	padding-top 160px
	padding-bottom 80px
	
	&-list
		display flex 
		flex-wrap wrap 
		align-items flex-start
		margin 0 -15px
		padding-top 30px
	
	&-item
		width calc(33% - 30px)
		margin 0 15px 40px

	&-banner
		width 100%
		max-width 370
		margin-bottom 9px
		line-height 0
		box-shadow 0px 3px 20px rgba(0, 0, 0, 0.16)
		
	.h3
		color grey-light
		
	+below(lg)
		padding-top 110px
		padding-bottom 50px
		
	+below(md)
		padding-top 80px
		padding-bottom 30px
		
		&-item 
			width calc(50% - 30px)	
			
	+below(sm)
		padding-top 60px
				
	+below(420px)
		padding-top 44px
		padding-bottom 46px
		
		.h3
			padding-left 15px
			
		&-list 
			margin 0 -15px

		&-item 
			width 100%
			margin 0 0 30px
			

/*
 * ========================
 * REDEEMED
 * ========================
 */		
.redeemed
	padding-bottom 90px
	
	.wrap 
		overflow hidden
	
	&-slider
		padding-top 40px
		
	&-button-prev,
	&-button-next
		display inline-flex
		justify-content center
		align-items center
		size 44px
		margin-top 20px
		border-radius 50%
		background-color orange
		transition()
		
		&:hover
			cursor pointer
			opacity .8
		
		svg
			size 16px
			fill white
		
	&-button-prev
		transform rotate(90deg)
		margin-right 10px
		
	&-button-next
		transform rotate(-90deg)
	&-card
		max-width 370px
	
		&-banner
			max-width 370px
			line-height 0
			
			img 
				width 100%
				height auto
				object-fit cover
			
		&-info
			padding 20px 25px 45px
			box-shadow 0px 3px 20px rgba(0, 0, 0, 0.16)
		
			p 
				padding 20px 0
				font-size 14px

		&-price
			font 500 24px/29px font-second
			color grey-light
			

/*
 * ========================
 * CREDIT
 * ========================
 */	
.credit
	
	&-inner
		display flex 
		align-items flex-start
	
	&-info
		flex-shrink 1.5
		width 100%
		max-width 560px 
		padding-right 10px
		
		p
			padding 30px 0
			font-size 22px
			
			span 
				display block
				margin-top 30px
				padding-right 70px
				font-size 14px
				
	&-brands 
		flex-shrink 1
			
	+below(sm)
		&-inner
			flex-direction column
			
		&-info
			margin-bottom 35px
			
			p 
				font-size 16px
				line-height 26px
				

/*
 * ========================
 * PLUS
 * ========================
 */	
.plus
	padding-top 176px
	padding-bottom 100px
	background resolve("plus-bg.jpg") no-repeat center top / cover
	
	&-inner
		display flex 
		align-items center
	
	&-info
		flex-shrink 2
		width 100%
		max-width 625px
		margin-right 88px
	
	&-list
		padding-top 45px
	
	&-item
		display flex 
		align-items flex-start
		
		&:not(:last-child)
			margin-bottom 25px
	
	&-icon
		width 30px
		height 27px
		background resolve("check.png") no-repeat center
		
	span 
		width calc(100% - 45px)
		padding-left 15px
		font-weight 600
		font-size 14px
		color white
	
	&-action
		flex-shrink 1
	
		.btn-orange 
			max-width 346px
			margin-top 35px
			
	+below(md)
		&-info
			margin-right 25px			
			
	+below(sm)
		padding 60px 0
		background-image none
		background-color #1f1f1f
		
		&-inner
			flex-direction column
			align-items flex-start
			
		&-info
			margin-right 0
			margin-bottom 45px
			
	+below(xs)
		padding-top 40px
		padding-bottom 55px
		

/*
 * ========================
 * FAQ
 * ========================
 */	
.faq
	padding-top 100px
	padding-bottom 95px
	
	+below(md)
		padding 80px 0
		
	+below(md)
		padding 60px 0
		
	+below(xs)
		padding 48px 0
	
.accordion
	padding-top 40px
	
	&-item
		
		&:not(:last-child)
			margin-bottom 20px
	
	&-head
		display flex 
		justify-content space-between
		align-items flex-start
		padding 20px 25px
		border-radius 10px
		background-color #f5f5f5
		
		&:hover
			cursor pointer
	
	&-title
		width calc(100% - 30px)
		font 500 18px/26px font-base
		
	&-icon
		size 16px
		margin-top 5px
		fill orange
		transition()
		
		&.active
			transform rotate(180deg)
			
	&-body
		display none
		padding 50px 25px
		margin-top -10px
		border 1px solid #f5f5f5
		border-top none
		border-radius 10px
	
		p:not(:last-child)
			margin-bottom 30px
			
	+below(sm)

		&-item:not(:last-child)
			margin-bottom 10px
			
		&-title
			font-size 14px
			line-height 18px
			
		&-body
			display none
			padding 30px 10px
		
			p
				font-size 14px
				line-height 20px
				
				&:not(:last-child)
					margin-bottom 20px
		
		


/*
 * ========================
 * CONTACTS
 * ========================
 */	
.contacts
	padding-top 56px
	// box-shadow 0px -3px 50px rgba(0, 0, 0, 0.16)
	
	&-inner
		display flex
		justify-content space-between
		align-items flex-start
	
	&-phone
		display flex 
		align-items flex-start
		padding-top 45px
	
		&-icon
			size 20px
			margin-top 5px
			margin-right 15px
			fill orange
			
		&-box a 
			display block
			font-weight 500
			font-size 18px
			line-height 26px
			transition()
			
			&:hover
				color orange
	
	&-location
		display flex 
		align-items flex-start
		padding-top 35px
		
		&-icon
			width 17px
			height 24px
			margin-right 15px
			fill orange
			stroke-width 1px
			stroke orange
	
		&-text 
			font-weight 500
			font-size 16px
			
	&-social
		display flex 
		align-items center
		padding-top 37px
		
		a
			transition()
			
			&:hover
				opacity .8
				
			&:not(:last-child)
				margin-right 20px
	
	&-instagram
		size 22px
		fill orange
	
	&-vkontakte
		width 30px
		height 17px
		fill orange
	
	&-place
		display flex 
		align-items stretch
		width calc(100% - 300px)
	
	&-banner
		width 100%
		max-width 267px
		margin-right 31px
	
	&-map
		width 100%
		max-width 569px
		height 299px
		
	+below(md)
		&-banner
			display none
			
		&-map 
			max-width: 100%
			
	+below(sm)
		&-place 
			width calc(100% - 230px)
			
	+below(xs)
		&-inner
			flex-direction column
			
		&-place
			width 100%
			// margin 0 -15px
			
		&-map
			width 100%
			margin-top 30px
			// margin 30px -15px 0
				

/*
 * ========================
 * BUYOUT
 * ========================
 */	
.buyout
	padding-top 71px
	padding-bottom 78px
	background #1f1f1f resolve("buyout-bg.jpg") no-repeat center / cover
	
	.wrap 
		position relative
		
	&-inner
		max-width 535px
		
	&-decor 
		position absolute
		top -54px
		left -118px
		width 378px
		height 360px
		fill orange
		opacity .08
		transform rotate(30deg)
	
	&-form
		display flex 
		flex-wrap wrap 
		align-items flex-start
		justify-content space-between
		padding-top 55px
		
	.input,
	.btn-orange
		margin-bottom 29px
		
	&-select
		width 235px
		
	.btn-orange
		max-width 235px
		
	// select2
	.select2-container--default .select2-selection--single
		position relative
		height 48px
		margin-bottom 29px
		padding-left 24px
		border none
		background-color transparent
		outline none
		
		&::after
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			border 2px solid #707070
			border-radius 50px
			content ""
		
	.select2-container--default .select2-selection--single .select2-selection__rendered
		line-height 48px
		color white
		
	.select2-container--default .select2-selection--single .select2-selection__arrow
		top 13px
		right 27px
		height 11px
		
		b 
			width 11px
			height 11px
			border none
			border-left 3px solid white
			border-bottom 3px solid white 
			transform-origin center center
			transform rotate(-45deg) 
			transition()
				
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
		transform rotate(135deg)
		

	+below(md)
		background-position-x 30%
	

	+below(xs)
		padding-top 50px
		padding-bottom 57px
		background-image none
		
		&-decor
			display none
		
		&-form 
			padding-top 25px
			
		.input,
		.select2-container--default .select2-selection--single
			margin-bottom 20px
			
		.btn-orange 
			margin-bottom 0

		
 

@import "./template/footer.styl"