/*
Author: Arkhipov Vladislav
Author E-mail: arkhipovvladislav@mail.ru
Name project: Bonza
*/

@import "rupture"
@import "./mixins/mixin.styl"
@import "./fonts.styl"


// 
// ==== VARS
// 

// fonts
font-base 	= "Montserrat", sans-serif
font-second = "Muller", sans-serif
font-third 	= "OpenSans", sans-serif

// color 
white      = #ffffff
orange 		 = #F79000
grey 			 = #292929
grey-light = #343434

// Adaptive
flex-version = flex
support-for-ie = false
vendor-prefixes = official

rupture.scale =       0    576px    768px    992px    1200px
rupture.scale-names =  "xs"     "sm"     "md"     "lg"      "xl"

*
	padding 0
	margin 0
	box-sizing border-box
	&::after
		padding 0
		margin 0
		box-sizing: border-box
	&::before
		padding 0
		margin 0
		box-sizing: border-box

html
	font-size 16px

body
	font-weight 400
	line-height 1.5
	font-family font-base
	color grey
	size 100%
	//background-image resolve(1.jpg)
		

// Buttons
.btn
	display inline-flex
	justify-content center
	align-items center
	width 100%
	max-width 270px
	height 48px
	font 500 16px/1 font-second 
	background-color transparent
	border none
	border-radius 50px
	transition()
	
	&:hover
		opacity .8
		cursor pointer
	
.btn-orange
	@extend .btn
	color white
	background-color orange
	
.btn-border
	@extend .btn
	color #474747
	border 2px solid orange
	

//
// === TYPOGRAPHY
//

.h2 
	font 600 36px/44px font-base
	color grey-light
	
.h2-white
	@extend .h2
	color white
	

//
// === FORM ELEMENTS
//

.input
	display inline-block
	width 100%
	max-width 235px
	height 48px
	padding 0 29px
	font 400 16px/48px font-third
	color white 
	background-color transparent
	border 2px solid #979797
	border-radius 50px
	outline none
	+placeholder()
		color white
	
	
	